:root {
  --clr-primary:#0e1f38;
  --clr-white:#f6f6f6;
  --clr-red:#cf3d3d;
}

[data-bg="dark"] {
  --clr-theme:var(--clr-white);
  --clr-theme-bg:var(--clr-primary);
  --border-color:rgba(255,255,255,0.7);
}

[data-bg="light"] {
  --clr-theme:var(--clr-primary);
  --clr-theme-bg:var(--clr-white);
  --border-color:var(--clr-primary);
}

body {
  background-color: var(--clr-theme-bg);
  color: var(--clr-theme);
}

.border--top {
  border-top: 0.5px solid var(--border-color);
}

.absolute {
  position: absolute;
}

.h--100 {
  height: 100%;
}

.bottom--3 {
  bottom: 3rem;
}

.bottom--6 {
  bottom: 6rem;
}

.bottom--9 {
  bottom: 9rem;
}

:root {
  --ease-out:cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out:cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.image-mask {
  overflow: hidden;
}

[data-scroll] > * {
  transform: translateY(60px);
  opacity: 0;
}
[data-scroll] > * img {
  transform: scale(1.5);
}

[data-scroll].is-inview > *:nth-child(1) {
  animation: scrollIn 1.6s 0.1s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(1) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(2) {
  animation: scrollIn 1.6s 0.2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(2) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(3) {
  animation: scrollIn 1.6s 0.3s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(3) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(4) {
  animation: scrollIn 1.6s 0.4s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(4) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(5) {
  animation: scrollIn 1.6s 0.5s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(5) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(6) {
  animation: scrollIn 1.6s 0.6s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(6) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(7) {
  animation: scrollIn 1.6s 0.7s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(7) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(8) {
  animation: scrollIn 1.6s 0.8s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(8) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(9) {
  animation: scrollIn 1.6s 0.9s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(9) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(10) {
  animation: scrollIn 1.6s 1s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(10) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(11) {
  animation: scrollIn 1.6s 1.1s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(11) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(12) {
  animation: scrollIn 1.6s 1.2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(12) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(13) {
  animation: scrollIn 1.6s 1.3s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(13) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(14) {
  animation: scrollIn 1.6s 1.4s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(14) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(15) {
  animation: scrollIn 1.6s 1.5s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(15) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(16) {
  animation: scrollIn 1.6s 1.6s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(16) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(17) {
  animation: scrollIn 1.6s 1.7s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(17) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(18) {
  animation: scrollIn 1.6s 1.8s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(18) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(19) {
  animation: scrollIn 1.6s 1.9s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(19) img {
  animation: photoIn 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(20) {
  animation: scrollIn 1.6s 2s var(--ease-out) forwards;
}
[data-scroll].is-inview > *:nth-child(20) img {
  animation: photoIn 2s var(--ease-out) forwards;
}

@keyframes scrollIn {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes photoIn {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
header {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--clr-theme-bg);
  transition: all 0.8s var(--ease-out);
}
header .header__logo {
  z-index: 20;
  position: relative;
}
header .header__logo svg {
  height: 4.8rem;
  margin-top: 1.4rem;
  fill: var(--clr-theme);
}
header .nav-links {
  display: none;
}
@media (min-width: 744px) {
  header .nav-links {
    display: block;
  }
}
header a {
  color: var(--clr-theme);
}
header a:hover {
  text-underline-offset: 0.12em;
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  text-decoration-color: var(--clr-theme);
}

body.no-scroll {
  overflow: hidden;
}

.mobile-menu-btn {
  z-index: 20;
  position: relative;
  width: 24px;
  height: 14px;
}
.mobile-menu-btn span {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background: white;
  transform: rotate(0);
  transition: all 0.6s var(--ease-out);
}
.mobile-menu-btn span:nth-child(1) {
  top: 0;
}
.mobile-menu-btn span:nth-child(2) {
  top: 6px;
}
.mobile-menu-btn span:nth-child(3) {
  bottom: 0;
}
.mobile-menu-btn.active span:nth-child(1) {
  top: 6px;
  transform: rotate(45deg);
}
.mobile-menu-btn.active span:nth-child(2) {
  opacity: 0;
}
.mobile-menu-btn.active span:nth-child(3) {
  bottom: 6px;
  transform: rotate(-45deg);
}

.mobile-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background: var(--clr-primary);
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.8s var(--ease-out);
}
.mobile-menu.open {
  transform: translateX(0);
  opacity: 1;
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(1) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(4) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(5) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(6) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(7) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(8) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(9) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(10) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(11) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(12) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(13) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(14) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(15) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(16) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(17) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(18) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(19) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .mobile-menu__inner ul li:nth-child(20) {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu.open .btn--lets-talk {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu__inner {
  position: relative;
  height: 100vh;
  padding-top: 16rem;
}
.mobile-menu__inner li {
  padding-block: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  will-change: transform;
  opacity: 0;
}
.mobile-menu__inner li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-menu__inner li:nth-child(1) {
  transform: translateY(20px);
  transition: all 1.2s 0.05s var(--ease-out);
}
.mobile-menu__inner li:nth-child(2) {
  transform: translateY(40px);
  transition: all 1.2s 0.1s var(--ease-out);
}
.mobile-menu__inner li:nth-child(3) {
  transform: translateY(60px);
  transition: all 1.2s 0.15s var(--ease-out);
}
.mobile-menu__inner li:nth-child(4) {
  transform: translateY(80px);
  transition: all 1.2s 0.2s var(--ease-out);
}
.mobile-menu__inner li:nth-child(5) {
  transform: translateY(100px);
  transition: all 1.2s 0.25s var(--ease-out);
}
.mobile-menu__inner li:nth-child(6) {
  transform: translateY(120px);
  transition: all 1.2s 0.3s var(--ease-out);
}
.mobile-menu__inner li:nth-child(7) {
  transform: translateY(140px);
  transition: all 1.2s 0.35s var(--ease-out);
}
.mobile-menu__inner li:nth-child(8) {
  transform: translateY(160px);
  transition: all 1.2s 0.4s var(--ease-out);
}
.mobile-menu__inner li:nth-child(9) {
  transform: translateY(180px);
  transition: all 1.2s 0.45s var(--ease-out);
}
.mobile-menu__inner li:nth-child(10) {
  transform: translateY(200px);
  transition: all 1.2s 0.5s var(--ease-out);
}
.mobile-menu__inner li:nth-child(11) {
  transform: translateY(220px);
  transition: all 1.2s 0.55s var(--ease-out);
}
.mobile-menu__inner li:nth-child(12) {
  transform: translateY(240px);
  transition: all 1.2s 0.6s var(--ease-out);
}
.mobile-menu__inner li:nth-child(13) {
  transform: translateY(260px);
  transition: all 1.2s 0.65s var(--ease-out);
}
.mobile-menu__inner li:nth-child(14) {
  transform: translateY(280px);
  transition: all 1.2s 0.7s var(--ease-out);
}
.mobile-menu__inner li:nth-child(15) {
  transform: translateY(300px);
  transition: all 1.2s 0.75s var(--ease-out);
}
.mobile-menu__inner li:nth-child(16) {
  transform: translateY(320px);
  transition: all 1.2s 0.8s var(--ease-out);
}
.mobile-menu__inner li:nth-child(17) {
  transform: translateY(340px);
  transition: all 1.2s 0.85s var(--ease-out);
}
.mobile-menu__inner li:nth-child(18) {
  transform: translateY(360px);
  transition: all 1.2s 0.9s var(--ease-out);
}
.mobile-menu__inner li:nth-child(19) {
  transform: translateY(380px);
  transition: all 1.2s 0.95s var(--ease-out);
}
.mobile-menu__inner li:nth-child(20) {
  transform: translateY(400px);
  transition: all 1.2s 1s var(--ease-out);
}
.mobile-menu__inner a {
  font-size: 2.4rem;
  color: var(--clr-white);
}
.mobile-menu__inner a:hover {
  text-decoration: none;
}
.mobile-menu__inner span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.mobile-menu__inner i {
  font-size: 1.2rem;
  opacity: 0.7;
}
.mobile-menu__inner .btn--lets-talk {
  position: absolute;
  bottom: 15rem;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1.2s 0.6s var(--ease-out), opacity 1.2s 0.6s var(--ease-out);
}

footer .connect-list i, footer .social-list i {
  display: inline-flex;
  justify-content: center;
  font-size: 1.4rem;
  width: 2.6rem;
  margin-left: -0.35em;
}

.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  text-align: center;
  transition: all 0.6s var(--ease-out);
}
.btn--primary {
  background: var(--clr-red);
  color: white;
}
.btn--primary:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn--border {
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}
.btn--border-white {
  border: 1px solid white;
  color: white;
}
.btn--border-white:hover {
  background: white;
  color: var(--clr-primary);
}

.link {
  display: inline-block;
  cursor: pointer;
}
.link--underline {
  color: var(--clr-theme);
  text-underline-offset: 0.12em;
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  text-decoration-color: var(--clr-theme);
}
.link--underline:hover {
  text-decoration-color: #a0a0a0;
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.home__hero-text {
  z-index: 2;
  position: relative;
  margin-top: 15rem;
}
@media (min-width: 744px) {
  .home__hero-text {
    margin-top: max(8vw, 8rem);
  }
}

.carousel-lists {
  position: relative;
  width: 225%;
}

.carousel-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transition: transform 1.6s var(--ease-out);
}
@media (min-width: 744px) {
  .carousel-list {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media (min-width: 744px) {
  .carousel-list {
    transition: transform 2.2s var(--ease-out);
  }
}
.carousel-list:nth-child(2) {
  margin-left: -41.5%;
}
@media (min-width: 744px) {
  .carousel-list:nth-child(2) {
    margin-left: -14.6%;
  }
}
.carousel-list .carousel-item {
  position: relative;
  display: block;
  background: var(--clr-primary);
  overflow: hidden;
  will-change: transform;
  transform: scale(0);
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  opacity: 0;
}
.carousel-list .carousel-item:nth-child(1) {
  animation: photoGridIn 1s 0.1s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(1) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(2) {
  animation: photoGridIn 1s 0.2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(2) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(3) {
  animation: photoGridIn 1s 0.3s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(3) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(4) {
  animation: photoGridIn 1s 0.4s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(4) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(5) {
  animation: photoGridIn 1s 0.5s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(5) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(6) {
  animation: photoGridIn 1s 0.6s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(6) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(7) {
  animation: photoGridIn 1s 0.7s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(7) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(8) {
  animation: photoGridIn 1s 0.8s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(8) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(9) {
  animation: photoGridIn 1s 0.9s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(9) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(10) {
  animation: photoGridIn 1s 1s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(10) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(11) {
  animation: photoGridIn 1s 1.1s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(11) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(12) {
  animation: photoGridIn 1s 1.2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(12) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(13) {
  animation: photoGridIn 1s 1.3s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(13) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(14) {
  animation: photoGridIn 1s 1.4s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(14) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(15) {
  animation: photoGridIn 1s 1.5s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(15) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(16) {
  animation: photoGridIn 1s 1.6s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(16) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(17) {
  animation: photoGridIn 1s 1.7s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(17) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(18) {
  animation: photoGridIn 1s 1.8s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(18) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(19) {
  animation: photoGridIn 1s 1.9s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(19) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(20) {
  animation: photoGridIn 1s 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(20) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(21) {
  animation: photoGridIn 1s 2.1s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(21) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(22) {
  animation: photoGridIn 1s 2.2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(22) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(23) {
  animation: photoGridIn 1s 2.3s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(23) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(24) {
  animation: photoGridIn 1s 2.4s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(24) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(25) {
  animation: photoGridIn 1s 2.5s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(25) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(26) {
  animation: photoGridIn 1s 2.6s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(26) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(27) {
  animation: photoGridIn 1s 2.7s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(27) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(28) {
  animation: photoGridIn 1s 2.8s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(28) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(29) {
  animation: photoGridIn 1s 2.9s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(29) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(30) {
  animation: photoGridIn 1s 3s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(30) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(31) {
  animation: photoGridIn 1s 3.1s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(31) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(32) {
  animation: photoGridIn 1s 3.2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(32) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(33) {
  animation: photoGridIn 1s 3.3s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(33) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(34) {
  animation: photoGridIn 1s 3.4s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(34) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(35) {
  animation: photoGridIn 1s 3.5s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(35) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(36) {
  animation: photoGridIn 1s 3.6s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(36) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(37) {
  animation: photoGridIn 1s 3.7s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(37) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(38) {
  animation: photoGridIn 1s 3.8s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(38) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(39) {
  animation: photoGridIn 1s 3.9s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(39) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(40) {
  animation: photoGridIn 1s 4s var(--ease-out) forwards;
}
.carousel-list .carousel-item:nth-child(40) img {
  animation: gridPhotoIn 2s var(--ease-out) forwards;
}
.carousel-list .carousel-item img {
  display: block;
  opacity: 0.8;
  transform: scale(2);
}
.carousel-list .carousel-item__code {
  z-index: 2;
  position: absolute;
  bottom: 0.7rem;
  left: 1rem;
  font-size: 1rem;
  color: #ffc800;
}

@keyframes photoGridIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes gridPhotoIn {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
