.hero{
	position:relative;
	width:100%;
  overflow:hidden;
}
.home__hero-text{
  z-index:2;
  position:relative;
  margin-top:15rem; 
  @media(min-width:744px){
    margin-top:max(8vw, 8rem); 
  }
}
.hero__gallery {
  --gallery-item-width:35vw;
  @media(min-width:744px){
    --gallery-item-width:22vw;
  }
  position: relative;
  display:flex;
  flex-direction: column;
  gap:1rem;
  width: 100%;
  overflow:hidden;
}
.hero__gallery-slides {
  position:relative;
  height:var(--gallery-item-width);
  &:nth-child(2){
    //margin-left: - calc( 22vw / 2 ) * 2 - calc( 22vw / 2 );
    margin-left: -93%;
    @media(min-width:744px){
      margin-left: -33.333333%;
    }
  }
}
.hero__gallery-slides__track{
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  flex-wrap: nowrap;
  flex-basis: var(--gallery-item-width);
  gap:1rem;
}
.hero__gallery-slides-item, .hero__gallery-slides-item--reverse {
  position:relative;
  width: var(--gallery-item-width);
  aspect-ratio: 1 / 1;
  .image-mask{
    position:relative;
    will-change:transform;
    transform:scale(0);
    backface-visibility: hidden;
    opacity:0;
    background-color:var(--clr-primary);
    overflow:hidden;
    img {
      z-index: 0;
      position:relative;
      display:block;
      opacity:0.8;
    }
    .carousel-item__code{
      z-index: 2;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      font-size: 1rem;
      color: #ffc800;
    }
  }
  @for $i from 1 through 40 {
    &:nth-child(#{$i}) {
      .image-mask{
        animation: photoGridIn 1s (0.1s * $i) var(--ease-out) forwards;
        img{
          animation: gridPhotoIn 2s var(--ease-out) forwards;
        }
      }
    }
  }
}

@keyframes photoGridIn {
  0%{
    transform:scale(0.6);
    opacity:0;
  }
  100%{
    transform:scale(1);
    opacity:1;
  }
}
@keyframes gridPhotoIn {
  0%{
    transform:scale(2);
  }
  100%{
    transform:scale(1);
  }
}